footer{
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    margin-top: 1rem;
    width: 100vw;
}

h2{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: row;
}

li{
    display: flex;
    align-content: center;
}